<mat-form-field [formGroup]="formulario" appearance="fill">
	<input matInput [matDatepicker]="picker" [placeholder]="placeholder" [formControlName]="nombreCampo"
		[min]="fechaMinima" />
	<mat-datepicker-toggle matSuffix [for]="picker">
		<mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
	</mat-datepicker-toggle>
	<mat-datepicker #picker></mat-datepicker>
	<mat-hint>{{hint}}</mat-hint>
	<mat-error *ngIf="formulario.touched && formulario.get(nombreCampo).invalid">
		<span *ngFor="let error of formulario.controls[nombreCampo].errors | keyvalue">
			<span
				*ngIf="error.key">{{ 'ERROR_MESSAGES.'+(error.key | uppercase) | translate:{ value : (error.value.requiredLength || (error.value.max | date: 'dd/MM/yyyy') || (error.value.min | date: 'dd/MM/yyyy')) } }}</span><br>
		</span>
	</mat-error>
</mat-form-field>
