<form [formGroup]="formularioRecepcion" (submit)="guardarRecepcion()">
	<mat-card>
		<mat-card-header>
			<mat-card-subtitle>Información documento</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<div class="contenedor">
				<div class="elemento" style="width:150px">
					<app-autocomplete [formulario]="formularioRecepcion" [nombreCampo]="'rutProveedor'"
						[placeholder]="'Ej: 11.111.111-1'" [etiqueta]="'Rut Proveedor'"
						[hint]="'Indique rut de proveedor'" [nombreValorOpcion]="'rut'" [textoOpcion]="'rut'"
						[listadoOpciones]="listadoProveedoresPorRut"
						(opcionSeleccionada)="opcionSeleccionada($event, 'rut')">
					</app-autocomplete>
				</div>
				<div class="elemento" style="width: 300px;">
					<app-autocomplete [formulario]="formularioRecepcion" [nombreCampo]="'nombreProveedor'"
						[placeholder]="'Ej: Laboratorio'" [etiqueta]="'Nombre Proveedor'"
						[hint]="'Indique nombre de proveedor'" [nombreValorOpcion]="'nombre'" [textoOpcion]="'nombre'"
						[listadoOpciones]="listadoProveedoresPorNombre"
						(opcionSeleccionada)="opcionSeleccionada($event, 'nombre')">
					</app-autocomplete>
				</div>
				<div class="elemento">
					<mat-form-field appearance="fill">
						<mat-label>Documento</mat-label>
						<mat-select formControlName="documentoTipo">
							<mat-option [value]="'Factura'">Factura</mat-option>
							<mat-option [value]="'GuiaDespacho'">Guía despacho</mat-option>
							<mat-option [value]="'GuiaInterna'">Guía interna</mat-option>
						</mat-select>
						<mat-hint>Indique documento</mat-hint>
						<mat-error
							*ngIf="formularioRecepcion.touched && formularioRecepcion.get('documentoTipo').invalid">
							<span *ngFor="let error of formularioRecepcion.controls['documentoTipo'].errors | keyvalue">
								<span
									*ngIf="error.key">{{ 'ERROR_MESSAGES.'+(error.key | uppercase) | translate:{ value : (error.value.requiredLength || error.value.max || error.value.min) } }}</span><br>
							</span>
						</mat-error>
					</mat-form-field>
				</div>
				<div class="elemento">
					<app-input [formulario]="formularioRecepcion" [nombreCampo]="'identificadorDocumento'"
						[placeholder]="'Ej: 121212'" [tipoInput]="'text'" [etiqueta]="'Número documento'"
						[hint]="'Indique número de documento'"></app-input>
				</div>
				<div class="elemento">
					<mat-form-field appearance="fill" style="width: 100%;">
						<mat-label>Origen</mat-label>
						<mat-select formControlName="origen">
							<mat-option [value]="'Cenabast'">Cenabast</mat-option>
							<mat-option [value]="'CompraDirecta'">Compra directa</mat-option>
							<mat-option [value]="'Donacion'">Donacion</mat-option>
							<mat-option [value]="'Prestamo'">Prestamo</mat-option>
						</mat-select>
						<mat-hint>Indique documento</mat-hint>
						<mat-error *ngIf="formularioRecepcion.touched && formularioRecepcion.get('origen').invalid">
							<span *ngFor="let error of formularioRecepcion.controls['origen'].errors | keyvalue">
								<span
									*ngIf="error.key">{{ 'ERROR_MESSAGES.'+(error.key | uppercase) | translate:{ value : (error.value.requiredLength || error.value.max || error.value.min) } }}</span><br>
							</span>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</form>
<form [formGroup]="formularioArticulo" (submit)="agregarArticuloAListado()">
	<mat-card>
		<mat-card-header>
			<mat-card-subtitle>Información artículo</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<div class="contenedor">
				<div class="elemento">
					<app-input [formulario]="formularioArticulo" [nombreCampo]="'codigoBarraArticulo'"
						[placeholder]="'Ej: 111111111'" [tipoInput]="'text'" [etiqueta]="'Código de barra'"
						[hint]="'Indique código de barra'" (valorInput)="verificarExistenciaCodigoBarra($event)"
						onPaste="return false"></app-input>
				</div>
				<div class="elemento" style="width: 350px;">
					<app-autocomplete [formulario]="formularioArticulo" [nombreCampo]="'descripcionArticulo'"
						[placeholder]="'Ej: PARACETAMOL 500 MG COMPRIMIDO'" [etiqueta]="'Descripción'"
						[hint]="'Indique descripción de artículo'" [nombreValorOpcion]="'nombre'"
						[textoOpcion]="'nombre'" [listadoOpciones]="listadoArsenalPorNombre"
						(opcionSeleccionada)="opcionArsenalSeleccionado($event)">
					</app-autocomplete>
				</div>
				<div class="elemento">
					<app-input [formulario]="formularioArticulo" [nombreCampo]="'cantidadArticulo'"
						[placeholder]="'Ej: 1'" [tipoInput]="'number'" [etiqueta]="'Cantidad'"
						[hint]="'Indique cantidad'"></app-input>
				</div>
			</div>
			<div class="contenedor">
				<div class="elemento">
					<app-input [formulario]="formularioArticulo" [nombreCampo]="'identificadorLoteArticulo'"
						[placeholder]="'Ej: 1903a1008'" [tipoInput]="'text'" [etiqueta]="'Lote'"
						[hint]="'Indique identificador de lote'"></app-input>
				</div>
				<div class="elemento">
					<app-datepicker [formulario]="formularioArticulo" [nombreCampo]="'fechaVencimientoArticulo'"
						[placeholder]="'Indique fecha vencimiento'" [etiqueta]="'Fecha vencimiento'"
						[hint]="'Indique fecha vencimiento'" [fechaMinima]="fechaMinima"></app-datepicker>
				</div>
				<div class="elemento">
					<app-input [formulario]="formularioArticulo" [nombreCampo]="'valorUnitarioArticulo'"
						[placeholder]="'Ej: 1'" [tipoInput]="'number'" [etiqueta]="'Valor unitario'"
						[hint]="'Indique valor unitario'"></app-input>
				</div>
				<div class="elemento">
					<button type="submit" mat-raised-button color="primary">
						<mat-icon>add_circle_outline</mat-icon> Agregar artículo
					</button>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card *ngIf="listadoArticulosIngresados.length > 0">
		<mat-card-header>
			<mat-card-subtitle>
				Artículos ingresados
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<div class="contenedor">
				<table mat-table [dataSource]="sourceTablaArticulosIngresados" class="mat-elevation-z8"
					style="width: 100%;">
					<ng-container matColumnDef="codigoBarra">
						<th mat-header-cell *matHeaderCellDef> Código de barra </th>
						<td mat-cell *matCellDef="let articulo">{{articulo.codigoBarra}} </td>
					</ng-container>

					<ng-container matColumnDef="nombre">
						<th mat-header-cell *matHeaderCellDef> Descripción </th>
						<td mat-cell *matCellDef="let articulo">{{articulo.arsenal.nombre}} </td>
					</ng-container>

					<ng-container matColumnDef="cantidadEntrada">
						<th mat-header-cell *matHeaderCellDef> Cantidad </th>
						<td mat-cell *matCellDef="let articulo">{{articulo.lote.cantidadEntrada}} </td>
					</ng-container>

					<ng-container matColumnDef="identificador">
						<th mat-header-cell *matHeaderCellDef> Lote </th>
						<td mat-cell *matCellDef="let articulo">{{articulo.lote.identificador}} </td>
					</ng-container>

					<ng-container matColumnDef="fechaVencimiento">
						<th mat-header-cell *matHeaderCellDef> Fecha de vencimiento </th>
						<td mat-cell *matCellDef="let articulo">{{articulo.lote.fechaVencimiento | date: 'dd-MM-yyyy'}}
						</td>
					</ng-container>

					<ng-container matColumnDef="valorUnitario">
						<th mat-header-cell *matHeaderCellDef> Valor unitario </th>
						<td mat-cell *matCellDef="let articulo">${{articulo.lote.valorUnitario | number:'1.0-0'}} </td>
					</ng-container>

					<ng-container matColumnDef="valorNeto">
						<th mat-header-cell *matHeaderCellDef> Valor neto </th>
						<td mat-cell *matCellDef="let articulo">
							${{(articulo.lote.valorUnitario * articulo.lote.cantidadEntrada) | number:'1.0-0'}}</td>
					</ng-container>

					<ng-container matColumnDef="quitar">
						<th mat-header-cell *matHeaderCellDef> Quitar </th>
						<td mat-cell *matCellDef="let articulo">
							<button type="button" mat-icon-button mat-raised-button color="primary" (click)="quitarArticuloAListado(articulo)">
								<mat-icon>delete</mat-icon>
							</button>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="columnasArticulosIngresados"></tr>
					<tr mat-row *matRowDef="let row; columns: columnasArticulosIngresados;"></tr>
				</table>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card *ngIf="listadoArticulosIngresados.length > 0" style="width: 300px;">
		<mat-card-header>
			<mat-card-subtitle>
				Monto documento
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<div class="contenedor">
				<div class="elemento">
					<mat-list role="list">
						<mat-list-item>
							<mat-icon mat-list-icon>attach_money</mat-icon>
							<div mat-line>Total</div>
							<div mat-line> ${{sumaValorNeto() | number:'1.0-0'}} </div>
						</mat-list-item>
						<mat-list-item>
							<mat-icon mat-list-icon>receipt</mat-icon>
							<div mat-line>IVA</div>
							<div mat-line> ${{sumaValorIva() | number:'1.0-0'}} </div>
						</mat-list-item>
						<mat-list-item>
							<mat-icon mat-list-icon>attach_money</mat-icon>
							<div mat-line>Total Bruto</div>
							<div mat-line> ${{ (sumaValorNeto() + sumaValorIva()) | number:'1.0-0'}} </div>
						</mat-list-item>
					</mat-list>
					<br>
					<button type="button" mat-button mat-raised-button color="primary" (click)="guardarRecepcion()">
						<mat-icon>save</mat-icon> Terminar recepción de artículos
					</button>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</form>
