<div class="contenedor-login">
	<form [formGroup]="formulario" (ngSubmit)="onSubmit()"
		[ngClass]="{ 'was-validated': formulario.touched && formulario.valid}" class="formulario">
		<mat-card class="example-card">
			<mat-card-header>
				<mat-card-title>
					<img [src]="rutaImagen" style="width:100%;" />
				</mat-card-title>
				<mat-card-subtitle>
					<h2>Ingresar</h2>
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<mat-form-field appearance="standard" class="formulario-elemento">
					<input matInput placeholder="Ej:11111111-1" type="text" formControlName="rut" />
					<mat-hint>Indique Rut</mat-hint>
					<mat-error *ngIf="formulario.touched && formulario.get('rut').invalid">
						<span *ngFor="let error of formulario.controls['rut'].errors | keyvalue">
							<span
								*ngIf="error.key">{{ 'ERROR_MESSAGES.'+(error.key | uppercase) | translate:{ value : (error.value.requiredLength || error.value.max || error.value.min) } }}</span><br>
						</span>
					</mat-error>
				</mat-form-field>
				<mat-form-field appearance="standard" class="formulario-elemento">
					<input matInput type="password" formControlName="password" />
					<mat-hint>Indique Contraseña</mat-hint>
					<mat-error *ngIf="formulario.touched && formulario.get('password').invalid">
						Indique una contraseña
					</mat-error>
				</mat-form-field>
			</mat-card-content>
			<mat-card-actions>
				<button mat-raised-button type="submit" class="btn btn-primary boton-formulario">Ingresar</button>
			</mat-card-actions>
		</mat-card>
	</form>
</div>
